# Ignore everything by default
*

# Keep gitignore itself tracked
!.gitignore

# Keep Docker-related files tracked
!docker-compose.yml
!docker-compose.*.yml
!Dockerfile
!.dockerignore
!**/Dockerfile
!**/.dockerignore
!**/nginx.conf
