HOST=0.0.0.0
PORT=1337
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified
ENCRYPTION_KEY=tobemodified
JWT_EXPIRES_IN=7d
LANGFLOW_ACHIEVEMENT_ENDPOINT=http://localhost:7860/api/v1/run/YOUR_FLOW_ID
LANGFLOW_API_KEY=
