HOST=0.0.0.0
PORT=1337
APP_KEYS="toBeModified1,toBeModified2"
API_TOKEN_SALT=tobemodified
ADMIN_JWT_SECRET=tobemodified
TRANSFER_TOKEN_SALT=tobemodified
JWT_SECRET=tobemodified
ENCRYPTION_KEY=tobemodified
JWT_EXPIRES_IN=7d
LANGFLOW_ACHIEVEMENT_ENDPOINT=http://http://185.96.80.150:7860//api/v1/run/59912178-ab6e-4e80-bf50-85ed24585c65
LANGFLOW_CHALLENGE_ENDPOINT=http://http://185.96.80.150:7860//api/v1/run/ee77e2ba-3df1-41c0-9df6-ba50806da0c0
LANGFLOW_API_KEY=sk-ybaQbjSpodE-aqalxkoFsXI4bHZzTV3XVRhDY0IihKI
